<div class="jumbotron">
  <h1>Welcome visitor!</h1>
  <div class="welcome-text-container">
    <%= link_to '/auth/authentiq' do %>
        <p class="welcome-text">Authenticate via Authentiq to get started</p>
        <%= image_tag('/images/authentiq.png', :class => 'connect') %>
    <% end %>
  </div>
</div>